.listaFilmes{
    width:1000px;
    max-width:70%;
    margin: 14px auto;

}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.listaFilmes article{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;

}

.listaFilmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;

}

.listaFilmes img{
    width:1000px;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.listaFilmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

